.event-card{
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;;
    &:last-of-type{
        border-bottom: none;
    }
    h4{
        margin-bottom: 0px;
        font-weight: 400;
        margin-top: 15px !important;
    }
    p{
        margin-top:0px;
        font-weight: 200;
        font-size: 14px;
        font-family: "Libre Franklin", Helvetica, Roboto, Arial, sans-serif;
    }
}