.comment{
    display: flex;
    flex-direction: column;
    border: 1px solid #0000001a;
    box-shadow: 0px 0px 4px #0000001f;
    margin-bottom: 15px;
    border-radius: 5px;
    padding-top: 10px;
    .header{
        display:flex;
        flex-direction: row;
        padding: 10px;
        .user-image-container{
            display: flex;
            flex:1;
            justify-content: center;
            align-items: center;
            @media (max-width:480px){
                flex:5 !important;
            }
            @media (max-width:767px){
                flex:3;
            }
            @media (min-width:768px) and (max-width:992px){
                flex:2;
            }
            .user-image{
                width: 65px;
                height: 65px;
                border-radius: 100%;
                background-size: cover !important;
                border: 4px solid #fff;
                &:before{
                    border-radius: 100%;
                    content: '';
                    background-image: linear-gradient(to top right, #fff 60%, #1ca844 100%);
                    width: 65px;
                    height: 70px;
                    margin-left: -1.2px;
                    margin-top: -5px;
                    position: absolute;
                    z-index: -1;
                }
            }
        }
        .about{
            p{
                margin: 0px;
            }
            .date{
                font-weight: 200;
            }
            flex:4;
            display: flex;
            flex-direction: column;

            @media (max-width:480px){
                flex:8;
            }
            @media (max-width:767px){
                flex:14;
            }
            @media (min-width:768px) and (max-width:992px){
                flex:14;
            }
            @media (min-width:993px) and (max-width:1440px){
                flex:6;
            }
            @media (min-width:1441px){
                flex:8;
            }
        }
    }
    .detail{
        padding: 10px 25px;
        margin-bottom: 10px;
        line-height: 22px;
        p{
            margin: 0;
            font-weight: 100;
            font-family: "Libre Franklin", Helvetica, Roboto, Arial, sans-serif;
        }
    }
    .options{
        display: flex;
        flex-direction: row;
        border-top: 1px solid #0000001a;
        div{
            padding-left: 10px;
            @media (max-width:992px){
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 0px;
            }
            p{
                margin: 10px 0px;
                font-weight: 500;
                svg{
                    margin-right: 10px;
                    @media (max-width:992px){
                        font-size: 14px;
                        padding-right: 0;
                    }
                }
            }
        }
        .add-comment{
            flex: 2;
            color: #56b45b;  
            padding-left: 20px;
            @media (max-width:992px){
                flex: 1;
            }
        }
        .comment-count{
            flex: 2;
            @media (max-width:992px){
                flex: 2;
            }
            p{
                font-weight: 300;
                @media (max-width:992px){
                    font-size: 11px;
                }
            }
            svg{
                margin-left: 20px;
                @media (max-width:992px){
                    padding-left: 5px;
                    padding-top: 2px;
                }
            }
        }
        .share{
            flex: 4;
            color: #56b45b;
            @media (max-width:992px){
                flex: 1;
            }
        }
    }
}