.content{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    @media(max-width: 992px){
        flex-direction: column;
    }
    main{
        display: flex;
        flex-direction:column;
        flex: 3;
        padding: 15px;
        .nav-bar{
            width: 100%;
            height: 50px;
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding:10px 0px;
            margin-bottom: 15px;
            .title{
                flex:2;
                p{
                    font-size: 24px;
                    font-weight: 400;
                    @media (max-width:992px){
                        font-size: 14px;
                    }
                }
            }
            .options{
                flex:3
            }
        }
    }
    aside{
        display: flex;
        flex: 2;
        flex-direction: column;
    }
    .blob{
        border: 1px solid #ededed;
        border-radius: 5px;
        background: #fff;
        margin-bottom: 20px;
        width: 75%;
        overflow: hidden;
        height: auto;
        @media(max-width: 992px){
            width: 100%;
            margin: 0;
            box-shadow: none;
            border-radius:0px;
        }
    }
    .left-sidebar{
        align-items: flex-end;
        @media(max-width: 992px){
            align-items: center;
        }
        .quicklinks{
            li{
                color: #56b45b;
            }
        }
        .profile-info{
            li{
                &:last-of-type{
                    svg{
                        color:#56b45b;
                    }
                }
            }
        }
    }
    .right-sidebar{
        @media(max-width: 992px){
            align-items: center;
        }
        .events{
            .event-cards{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .event-card{
                    width: 90%;
                }
            }
        }
    }
    .heading{
        background: #f7f7f7;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        border:1px solid #e8e8e8;
        h2{
            font-weight: 400;
            margin:0;
            font-size: 18px;
        }
    }
    section{
        ul{
            padding-left:15px;
            li{
                list-style: none;
                padding-bottom: 15px;
                font-weight:300;
                svg{
                    margin-right: 10px;
                }
            }
        }
    }
    .tags{
       p{
        padding: 5px 15px;
        border: 1px solid #dedede99;
        display: inline-block;
        margin: 10px;
        font-size: 14px;
        border-radius: 5px;

       } 
    }
    .cta{
        border-top: 1px solid #e8e8e8;;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:10px;
        a{
            color: #56b45b;
            text-decoration: none;
        }
    }
}