.business-card{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border-bottom: 1px solid #e8e8e8;;
    &:last-of-type{
        border-bottom: none;
    }
    .header{
        display:flex;
        flex-direction: row;
        padding: 10px 25px;
        .user-image-container{
            display: flex;
            flex:1;
            justify-content: center;
            align-items: center;
            @media (max-width:480px){
                flex:5 !important;
            }
            @media (max-width:767px){
                flex:3;
            }
            @media (min-width:768px) and (max-width:992px){
                flex:2;
            }
            .user-image{
                width: 60px;
                height: 60px;
                border-radius: 5px;
                background-size: cover !important;
            }
        }
        .about{
            padding-left:15px;
            p{
                margin: 0px;
            }
            .date{
                font-weight: 200;
            }
            flex:5;
            display: flex;
            flex-direction: column;
            @media (max-width:480px){
                flex:8;
            }
            @media (max-width:767px){
                flex:14;
                padding-left:0px;
            }
            @media (min-width:768px) and (max-width:992px){
                flex:14;
                padding-left:0px;
            }
            @media (min-width:993px) and (max-width:1440px){
                flex:6;
            }
            @media (min-width:1441px){
                flex:8;
            }
        }
    }
    .detail{
        padding: 10px 25px;
        margin-bottom: 10px;
        line-height: 22px;
        p{
            margin: 0;
            font-weight: 100;
            font-size: 14px;
            font-family: "Libre Franklin", Helvetica, Roboto, Arial, sans-serif;
            @media(max-width:992px){
                padding-left: 20px;
            }
        }
    }
}