body{
    font-family: Oswald !important;
    color: #525050;
}
h1, h2 h3,h4,h5, p{
    font-family: Oswald ;
}

#page-wrap{
    margin-top:80px;
    @media (min-width: 993px){
        margin-top: 240px;
    }
}

.desktop-only{
    @media(max-width: 992px){
        display: none !important;
    }
}

.mobile-only{
    @media(min-width: 992px){
        display: none !important;
    }
}

.btn{
    padding: 15px;
    background: #56b45b;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-family: Oswald;
}

// BURGER MENU CSS

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #56b45b;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }