header{
    height: 160px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    @media (min-width: 993px){
        position: fixed;
        top:80px;
        z-index:1;
    }
    .name-container{
        height: 55%;
        background: #56b45b;
        display: flex;
        flex-direction: row;
        @media (max-width:1440px){
            font-size: 20px;
            padding-left: 5px;
        }
        .empty{
            flex:2;
            display: flex;
            div{
                width: 130px;
            }
        }
        .name{
            flex: 9;
            display: flex;
            font-size: 18px;
            padding-left: 10px;
            color:#fff;
            text-transform: uppercase;
            align-items: flex-end;
            h2{
                font-weight: 400;
                margin-bottom: 10px;
                font-size: 34px;
                font-family: Oswald ;
                @media(max-width:992px){
                    font-size: 18px;
                }
            }
            @media(max-width:769px){
                flex:9;
            }
        }
    }

    .options-container{
        height: 40%;
        box-shadow: 3px 1px 3px 0px #0003;
        display: flex;
        flex-direction: row;
        background: #fff;
        @media(max-width:992px){
            height: 45%;
        }
        .picture{
            flex:2;
            display: flex;
            justify-content: flex-end;
            @media(max-width:992px){
                justify-content: flex-start;
            }
            .picture-box{
                background-size: cover !important;
                border-radius: 10px;
                width: 105px;
                height: 105px;
                margin: 20px;
                margin-top: -60px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                @media(max-width:992px){
                    width: 100px;
                    height: 100px;
                }
                &:hover{
                    svg{
                        transform: scale(1.2);
                        transition: transform .1s ease-in-out;
                    }
                }
                svg{
                    color:#fff;
                    margin: 10px;
                    font-size: 20px;
                }
            }
        }
        .options{
            flex: 9;
            display: flex;
            .settings{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                width: 60%;
                p{  
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 100%;
                    margin-right: 100px;
                    font-size: 16px;
                    font-weight: 300;
                    width: 130px;
                    &:hover{
                        border-bottom: 4px solid #56b45b;
                        transition: border-bottom .1s linear;
                        cursor: pointer;
                    }
                }
            }
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                margin: 0;
                width: 40%;
                padding: 0px 5px;
                @media (min-width:992px) and (max-width:1350px){
                    width: 50%;
                }
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    list-style: none;
                    padding: 0px 10px;
                    font-size: 18px;
                    font-weight:300;
                    &:hover{
                        border-bottom: 4px solid #56b45b;
                        transition: border-bottom .1s linear;
                        cursor: pointer;
                    }
                    svg{
                        color: #56b45b;
                        font-size: 28px;
                    }
                    @media (max-width:1440px){
                        font-size: 16px;
                    }
                    @media (min-width:992px) and (max-width:1350px){
                        font-size: 13px;
                    }
                }
            }
            .header{
                height: 20px;
                margin-top: 15px;
                color: #56b45b;
                font-family: Oswald;
                .text{
                    color: #000;
                    font-weight: 300;
                    padding-right: 5px;
                }
            }
        }
    }

}