footer{
    display: flex !important;
    flex-direction: row;
    padding:  40px;
    background: #f7f7f7;
    @media(max-width:992px){
        flex-direction: column;
    }
    .links{
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        align-items: flex-start;
        padding-left: 40px;
        @media(max-width:768px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 0px;
            .column{
                padding-bottom: 40px;
                width: 120px;
            }
        }
        .column{
            flex: 1;
            height: 100%;
            .heading{
                font-family: Oswald;
                font-size: 17px;
                margin-bottom: 10px;
            }
            .subheading{
                color: #8f8f8f;
            }
            p{
                margin: 0;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: #484242;
                    }
                }
            }
            
        }
    }
    .advertise{
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 40px;
        @media(max-width:922px){
            justify-content: center;
            align-items: center;
            padding-top: 40px;
            padding-right: 0px;
        }
        p{
            a{
                font-size: 18px;
                color:#484242;
                font-family: Oswald;
            }
        }
        img{
            width: 200px;
            height: 200px;
        }
    }
}

.copyright-container{
    background: #2f3a49;
    color:  #fff;
    display: flex;
    flex-direction: row;
    padding: 15px;
    @media(max-width:768px){
        flex-direction: column;
    }
    .copyright{
        display: flex;
        flex-direction: row;
        flex: 1 1;
        justify-content: flex-start;
        align-items: center;
        padding-left: 40px;
        @media(max-width:768px){
            justify-content: center;
        }
        p{
            padding: 0px 5px;
            border-left: 1px solid #58616d;
            margin: 0;
            a{
                color:#fff;
                @media(max-width:768px){
                    font-size: 10px;
                }
            }
            &:first-of-type{
                border-left:none;
            }

        }
    }
    .social{
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-end;
        @media(max-width:768px){
            justify-content: center;
        }
        svg{
            margin: 10px;
        }
    }
}