.binded-button-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    .binded-button{
        &:first-of-type{
            border-left: 1px solid #56b45b;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-of-type{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        &.active{
            background: #56b45b;
            color: #fff;
        }

        border-top: 1px solid #56b45b;;
        border-bottom: 1px solid #56b45b;
        border-right: 1px solid #56b45b;
        height: 45px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color:#56b45b;
        @media (max-width:992px){
            font-size: 11px;
        }
    }
}