.non-sidebar-nav{
    position: fixed;
    top: 0;
    background: #fff;
    width: 100vw;
    display: flex !important;
    z-index:1;
}
nav{
    flex-direction: row;
    height: 80px;
    justify-content: center;
    align-items: center;
    .logo-container{
        display:flex;
        flex: 1;
        padding: 0px 60px;
        align-items: center;
        height: 100%;
        img{
            margin-left:40px;
            max-width: 140px;
        }
    }
    .bm-item{
        &:focus{
            outline: none;
        }
        li{
            list-style: none;
            font-size: 20px;
            padding: 10px;
            svg{
                padding-left:5px;
                color: #56b45b;;
            }
        }
    }
    .nav-links-container{
        flex:1;
        padding: 0px 60px;
        height: 100%;
        @media (min-width:992px) and (max-width:1350px){
            flex:3;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            margin: 0;

            li{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                list-style: none;
                padding: 0px 10px;
                font-size: 16px;
                font-weight:300;
                text-transform: uppercase;
                &:hover{
                    border-bottom: 4px solid #56b45b;
                    transition: border-bottom .1s linear;
                    cursor: pointer;
                }
                svg{
                    color: #56b45b;
                    font-size: 28px;
                }
                @media (max-width:1440px){
                    font-size: 14px;
                }
                @media (min-width:992px) and (max-width:1350px){
                    font-size: 12px;
                    svg{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}